In [1]:
# import data from csv
import pandas as pd
df=pd.read_csv('fortune1000.csv')
df

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
3,4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
4,5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
5,6,UnitedHealth Group,Health Care,Health Care: Insurance and Managed Care,"Minnetonka, MN",157107,5813,200000
6,7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
7,8,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
8,9,Ford Motor,Motor Vehicles & Parts,Motor Vehicles and Parts,"Dearborn, MI",149558,7373,199000
9,10,AT&T,Telecommunications,Telecommunications,"Dallas, TX",146801,13345,281450
10,11,General Electric,Industrials,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
11,12,AmerisourceBergen,Health Care,Wholesalers: Health Care,"Chesterbrook, PA",135962,-135,17000
12,13,Verizon,Telecommunications,Telecommunications,"New York, NY",131620,17879,177700
13,14,Chevron,Energy,Petroleum Refining,"San Ramon, CA",131118,4587,61500
14,15,Costco,Retailing,Specialty Retailers: Other,"Issaquah, WA",116199,2377,161000
15,16,Fannie Mae,Financials,Diversified Financials,"Washington, DC",110359,10954,7300
16,17,Kroger,Food and Drug Stores,Food and Drug Stores,"Cincinnati, OH",109830,2039,431000
17,18,Amazon.com,Technology,Internet Services and Retailing,"Seattle, WA",107006,596,230800
18,19,Walgreens Boots Alliance,Food and Drug Stores,Food and Drug Stores,"Deerfield, IL",103444,4220,302500
19,20,HP,Technology,"Computers, Office Equipment","Palo Alto, CA",103355,4554,287000
20,21,Cardinal Health,Health Care,Wholesalers: Health Care,"Dublin, OH",102531,1215,34500
21,22,Express Scripts Holding,Health Care,Health Care: Pharmacy and Other Services,"St. Louis, MO",101752,2476,25900
22,23,J.P. Morgan Chase,Financials,Commercial Banks,"New York, NY",101006,24442,234598
23,24,Boeing,Aerospace & Defense,Aerospace and Defense,"Chicago, IL",96114,5176,161400
24,25,Microsoft,Technology,Computer Software,"Redmond, WA",93580,12193,118000
25,26,Bank of America Corp.,Financials,Commercial Banks,"Charlotte, NC",93056,15888,213280
26,27,Wells Fargo,Financials,Commercial Banks,"San Francisco, CA",90033,22894,264700
27,28,Home Depot,Retailing,Specialty Retailers: Other,"Atlanta, GA",88519,7009,385000
28,29,Citigroup,Financials,Commercial Banks,"New York, NY",88275,17242,231000
29,30,Phillips 66,Energy,Petroleum Refining,"Houston, TX",87169,4227,14000
...,...,...,...,...,...,...,...,...
970,971,VeriFone Systems,Technology,"Computers, Office Equipment","San Jose, CA",2001,79,5400
971,972,Genesee & Wyoming,Transportation,Railroads,"Darien, CT",2000,225,7500
972,973,99 Cents Only Stores,Retailing,Specialty Retailers: Other,"Commerce, CA",1999,-232,18200
973,974,Roadrunner Transportation Systems,Transportation,Transportation and Logistics,"Cudahy, WI",1995,48,4502
974,975,Super Micro Computer,Technology,"Computers, Office Equipment","San Jose, CA",1991,102,2285
975,976,First Republic Bank,Financials,Commercial Banks,"San Francisco, CA",1989,522,3130
976,977,Hill-Rom Holdings,Health Care,Medical Products and Equipment,"Chicago, IL",1988,48,10000
977,978,Providence Service,Health Care,Health Care: Pharmacy and Other Services,"Tucson, AZ",1987,84,9072
978,979,Allison Transmission Holdings,Motor Vehicles & Parts,Motor Vehicles and Parts,"Indianaoplis, IN",1986,182,2700
979,980,Spire,Energy,Utilities: Gas and Electric,"St. Louis, MO",1976,137,3078
980,981,WPX Energy,Energy,"Mining, Crude-Oil Production","Tulsa, OK",1958,-1727,1040
981,982,Century Aluminum,Materials,Metals,"Chicago, IL",1950,-59,1778
982,983,Adams Resources & Energy,Energy,Petroleum Refining,"Houston, TX",1944,-1,809
983,984,Nuance Communications,Technology,Computer Software,"Burlington, MA",1931,-115,13500
984,985,Primoris Services,Engineering & Construction,"Engineering, Construction","Dallas, TX",1929,37,7011
985,986,Schnitzer Steel Industries,Materials,Metals,"Portland, OR",1924,-197,2955
986,987,Delta Tucker Holdings,Aerospace & Defense,Aerospace and Defense,"McLean, VA",1923,-133,12000
987,988,Hospitality Properties Trust,Financials,Real estate,"Newton, MA",1922,166,400
988,989,Cenveo,Media,"Publishing, Printing","Stamford, CT",1921,-31,7300
989,990,F5 Networks,Technology,Network and Other Communications Equipment,"Seattle, WA",1920,365,4178
990,991,BlueLinx Holdings,Wholesalers,Wholesalers: Diversified,"Atlanta, GA",1917,-12,1600
991,992,Revlon,Household Products,Household and Personal Products,"New York, NY",1914,56,5700
992,993,DeVry Education Group,Business Services,Education,"Downers Grove, IL",1910,140,11770
993,994,MDC Holdings,Engineering & Construction,Homebuilders,"Denver, CO",1909,66,1225
994,995,EP Energy,Energy,"Mining, Crude-Oil Production","Houston, TX",1908,-3748,665
995,996,New York Community Bancorp,Financials,Commercial Banks,"Westbury, NY",1902,-47,3448
996,997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
998,999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,"Dublin, OH",1896,161,21200
999,1000,Briggs & Stratton,Industrials,Industrial Machinery,"Wauwatosa, WI",1895,46,5480

In [2]:
#Summary  function

In [3]:
df.head()

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
3,4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
4,5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400

In [4]:
df.head().T          ### For Transposing data

,0,1,2,3,4
Rank,1,2,3,4,5
Company,Walmart,Exxon Mobil,Apple,Berkshire Hathaway,McKesson
Sector,Retailing,Energy,Technology,Financials,Health Care
Industry,General Merchandisers,Petroleum Refining,"Computers, Office Equipment",Insurance: Property and Casualty (Stock),Wholesalers: Health Care
Location,"Bentonville, AR","Irving, TX","Cupertino, CA","Omaha, NE","San Francisco, CA"
Revenue,482130,246204,233715,210821,181241
Profits,14694,16150,53394,24083,1476
Employees,2300000,75600,110000,331000,70400

In [5]:
df.head(10)

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
3,4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
4,5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
5,6,UnitedHealth Group,Health Care,Health Care: Insurance and Managed Care,"Minnetonka, MN",157107,5813,200000
6,7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
7,8,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
8,9,Ford Motor,Motor Vehicles & Parts,Motor Vehicles and Parts,"Dearborn, MI",149558,7373,199000
9,10,AT&T,Telecommunications,Telecommunications,"Dallas, TX",146801,13345,281450

In [6]:
df.tail()

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
995,996,New York Community Bancorp,Financials,Commercial Banks,"Westbury, NY",1902,-47,3448
996,997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
998,999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,"Dublin, OH",1896,161,21200
999,1000,Briggs & Stratton,Industrials,Industrial Machinery,"Wauwatosa, WI",1895,46,5480

In [7]:
df.tail(10)

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
990,991,BlueLinx Holdings,Wholesalers,Wholesalers: Diversified,"Atlanta, GA",1917,-12,1600
991,992,Revlon,Household Products,Household and Personal Products,"New York, NY",1914,56,5700
992,993,DeVry Education Group,Business Services,Education,"Downers Grove, IL",1910,140,11770
993,994,MDC Holdings,Engineering & Construction,Homebuilders,"Denver, CO",1909,66,1225
994,995,EP Energy,Energy,"Mining, Crude-Oil Production","Houston, TX",1908,-3748,665
995,996,New York Community Bancorp,Financials,Commercial Banks,"Westbury, NY",1902,-47,3448
996,997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
998,999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,"Dublin, OH",1896,161,21200
999,1000,Briggs & Stratton,Industrials,Industrial Machinery,"Wauwatosa, WI",1895,46,5480

In [8]:
#for all columns
df.columns

Index(['Rank', 'Company', 'Sector', 'Industry', 'Location', 'Revenue',
       'Profits', 'Employees'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
Rank         1000 non-null int64
Company      1000 non-null object
Sector       1000 non-null object
Industry     1000 non-null object
Location     1000 non-null object
Revenue      1000 non-null int64
Profits      1000 non-null int64
Employees    1000 non-null int64
dtypes: int64(4), object(4)
memory usage: 62.6+ KB

In [10]:
df.describe()

             Rank        Revenue       Profits     Employees
count  1000.00000    1000.000000   1000.000000  1.000000e+03
mean    500.49600   13535.525000    894.093000  3.302800e+04
std     288.81727   28820.519135   3297.063594  9.042769e+04
min       1.00000    1895.000000 -23119.000000  5.200000e+01
25%     250.75000    2898.250000     82.750000  6.405250e+03
50%     500.50000    5113.000000    282.500000  1.251950e+04
75%     750.25000   11386.000000    784.500000  2.812500e+04
max    1000.00000  482130.000000  53394.000000  2.300000e+06

In [11]:
df.describe(include=['object'])

,Company,Sector,Industry,Location
count,1000,1000,1000,1000
unique,996,21,73,416
top,Host Hotels & Resorts,Financials,Specialty Retailers: Other,"New York, NY"
freq,2,139,42,72

In [12]:
df.nunique()

Rank         996
Company      996
Sector        21
Industry      73
Location     416
Revenue      945
Profits      760
Employees    755
dtype: int64

In [13]:
#selecting a single column from data set
df['Sector']

0                         Retailing
1                            Energy
2                        Technology
3                        Financials
4                       Health Care
5                       Health Care
6              Food and Drug Stores
7            Motor Vehicles & Parts
8            Motor Vehicles & Parts
9                Telecommunications
10                      Industrials
11                      Health Care
12               Telecommunications
13                           Energy
14                        Retailing
15                       Financials
16             Food and Drug Stores
17                       Technology
18             Food and Drug Stores
19                       Technology
20                      Health Care
21                      Health Care
22                       Financials
23              Aerospace & Defense
24                       Technology
25                       Financials
26                       Financials
27                        Retailing
28                       Financials
29                           Energy
                   ...
970                      Technology
971                  Transportation
972                       Retailing
973                  Transportation
974                      Technology
975                      Financials
976                     Health Care
977                     Health Care
978          Motor Vehicles & Parts
979                          Energy
980                          Energy
981                       Materials
982                          Energy
983                      Technology
984      Engineering & Construction
985                       Materials
986             Aerospace & Defense
987                      Financials
988                           Media
989                      Technology
990                     Wholesalers
991              Household Products
992               Business Services
993      Engineering & Construction
994                          Energy
995                      Financials
996                          Energy
997                          Energy
998    Hotels, Resturants & Leisure
999                     Industrials
Name: Sector, Length: 1000, dtype: object

In [14]:
##Selecting multipe columns from data set
df[['Sector','Industry']]

                           Sector                                    Industry
0                       Retailing                       General Merchandisers
1                          Energy                          Petroleum Refining
2                      Technology                 Computers, Office Equipment
3                      Financials    Insurance: Property and Casualty (Stock)
4                     Health Care                    Wholesalers: Health Care
5                     Health Care     Health Care: Insurance and Managed Care
6            Food and Drug Stores                        Food and Drug Stores
7          Motor Vehicles & Parts                    Motor Vehicles and Parts
8          Motor Vehicles & Parts                    Motor Vehicles and Parts
9              Telecommunications                          Telecommunications
10                    Industrials                        Industrial Machinery
11                    Health Care                    Wholesalers: Health Care
12             Telecommunications                          Telecommunications
13                         Energy                          Petroleum Refining
14                      Retailing                  Specialty Retailers: Other
15                     Financials                      Diversified Financials
16           Food and Drug Stores                        Food and Drug Stores
17                     Technology             Internet Services and Retailing
18           Food and Drug Stores                        Food and Drug Stores
19                     Technology                 Computers, Office Equipment
20                    Health Care                    Wholesalers: Health Care
21                    Health Care    Health Care: Pharmacy and Other Services
22                     Financials                            Commercial Banks
23            Aerospace & Defense                       Aerospace and Defense
24                     Technology                           Computer Software
25                     Financials                            Commercial Banks
26                     Financials                            Commercial Banks
27                      Retailing                  Specialty Retailers: Other
28                     Financials                            Commercial Banks
29                         Energy                          Petroleum Refining
..                            ...                                         ...
970                    Technology                 Computers, Office Equipment
971                Transportation                                   Railroads
972                     Retailing                  Specialty Retailers: Other
973                Transportation                Transportation and Logistics
974                    Technology                 Computers, Office Equipment
975                    Financials                            Commercial Banks
976                   Health Care              Medical Products and Equipment
977                   Health Care    Health Care: Pharmacy and Other Services
978        Motor Vehicles & Parts                    Motor Vehicles and Parts
979                        Energy                 Utilities: Gas and Electric
980                        Energy                Mining, Crude-Oil Production
981                     Materials                                      Metals
982                        Energy                          Petroleum Refining
983                    Technology                           Computer Software
984    Engineering & Construction                   Engineering, Construction
985                     Materials                                      Metals
986           Aerospace & Defense                       Aerospace and Defense
987                    Financials                                 Real estate
988                         Media                        Publishing, Printing
989                    Technology  Network and Other Communications Equipment
990                   Wholesalers                    Wholesalers: Diversified
991            Household Products             Household and Personal Products
992             Business Services                                   Education
993    Engineering & Construction                                Homebuilders
994                        Energy                Mining, Crude-Oil Production
995                    Financials                            Commercial Banks
996                        Energy                 Utilities: Gas and Electric
997                        Energy                 Utilities: Gas and Electric
998  Hotels, Resturants & Leisure                               Food Services
999                   Industrials                        Industrial Machinery

[1000 rows x 2 columns]

In [15]:
df[['Sector','Industry','Company']]

,Sector,Industry,Company
0,Retailing,General Merchandisers,Walmart
1,Energy,Petroleum Refining,Exxon Mobil
2,Technology,"Computers, Office Equipment",Apple
3,Financials,Insurance: Property and Casualty (Stock),Berkshire Hathaway
4,Health Care,Wholesalers: Health Care,McKesson
5,Health Care,Health Care: Insurance and Managed Care,UnitedHealth Group
6,Food and Drug Stores,Food and Drug Stores,CVS Health
7,Motor Vehicles & Parts,Motor Vehicles and Parts,General Motors
8,Motor Vehicles & Parts,Motor Vehicles and Parts,Ford Motor
9,Telecommunications,Telecommunications,AT&T
10,Industrials,Industrial Machinery,General Electric
11,Health Care,Wholesalers: Health Care,AmerisourceBergen
12,Telecommunications,Telecommunications,Verizon
13,Energy,Petroleum Refining,Chevron
14,Retailing,Specialty Retailers: Other,Costco
15,Financials,Diversified Financials,Fannie Mae
16,Food and Drug Stores,Food and Drug Stores,Kroger
17,Technology,Internet Services and Retailing,Amazon.com
18,Food and Drug Stores,Food and Drug Stores,Walgreens Boots Alliance
19,Technology,"Computers, Office Equipment",HP
20,Health Care,Wholesalers: Health Care,Cardinal Health
21,Health Care,Health Care: Pharmacy and Other Services,Express Scripts Holding
22,Financials,Commercial Banks,J.P. Morgan Chase
23,Aerospace & Defense,Aerospace and Defense,Boeing
24,Technology,Computer Software,Microsoft
25,Financials,Commercial Banks,Bank of America Corp.
26,Financials,Commercial Banks,Wells Fargo
27,Retailing,Specialty Retailers: Other,Home Depot
28,Financials,Commercial Banks,Citigroup
29,Energy,Petroleum Refining,Phillips 66
...,...,...,...
970,Technology,"Computers, Office Equipment",VeriFone Systems
971,Transportation,Railroads,Genesee & Wyoming
972,Retailing,Specialty Retailers: Other,99 Cents Only Stores
973,Transportation,Transportation and Logistics,Roadrunner Transportation Systems
974,Technology,"Computers, Office Equipment",Super Micro Computer
975,Financials,Commercial Banks,First Republic Bank
976,Health Care,Medical Products and Equipment,Hill-Rom Holdings
977,Health Care,Health Care: Pharmacy and Other Services,Providence Service
978,Motor Vehicles & Parts,Motor Vehicles and Parts,Allison Transmission Holdings
979,Energy,Utilities: Gas and Electric,Spire
980,Energy,"Mining, Crude-Oil Production",WPX Energy
981,Materials,Metals,Century Aluminum
982,Energy,Petroleum Refining,Adams Resources & Energy
983,Technology,Computer Software,Nuance Communications
984,Engineering & Construction,"Engineering, Construction",Primoris Services
985,Materials,Metals,Schnitzer Steel Industries
986,Aerospace & Defense,Aerospace and Defense,Delta Tucker Holdings
987,Financials,Real estate,Hospitality Properties Trust
988,Media,"Publishing, Printing",Cenveo
989,Technology,Network and Other Communications Equipment,F5 Networks
990,Wholesalers,Wholesalers: Diversified,BlueLinx Holdings
991,Household Products,Household and Personal Products,Revlon
992,Business Services,Education,DeVry Education Group
993,Engineering & Construction,Homebuilders,MDC Holdings
994,Energy,"Mining, Crude-Oil Production",EP Energy
995,Financials,Commercial Banks,New York Community Bancorp
996,Energy,Utilities: Gas and Electric,Portland General Electric
997,Energy,Utilities: Gas and Electric,Portland General Electric
998,"Hotels, Resturants & Leisure",Food Services,Wendy’s
999,Industrials,Industrial Machinery,Briggs & Stratton

In [16]:
#indexing - loc ,iloc
#select row by their position using iloc position [row,column]-select first 5 row
#loc gets rows (or column) with particular lables from index
#iloc gets rows(or column) at particular position in the index(so it only takes integer)

In [17]:
df.iloc[:5]

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
3,4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
4,5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400

In [18]:
df.iloc[:5,]

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
3,4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
4,5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400

In [19]:
df.iloc[5:]

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
5,6,UnitedHealth Group,Health Care,Health Care: Insurance and Managed Care,"Minnetonka, MN",157107,5813,200000
6,7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
7,8,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
8,9,Ford Motor,Motor Vehicles & Parts,Motor Vehicles and Parts,"Dearborn, MI",149558,7373,199000
9,10,AT&T,Telecommunications,Telecommunications,"Dallas, TX",146801,13345,281450
10,11,General Electric,Industrials,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
11,12,AmerisourceBergen,Health Care,Wholesalers: Health Care,"Chesterbrook, PA",135962,-135,17000
12,13,Verizon,Telecommunications,Telecommunications,"New York, NY",131620,17879,177700
13,14,Chevron,Energy,Petroleum Refining,"San Ramon, CA",131118,4587,61500
14,15,Costco,Retailing,Specialty Retailers: Other,"Issaquah, WA",116199,2377,161000
15,16,Fannie Mae,Financials,Diversified Financials,"Washington, DC",110359,10954,7300
16,17,Kroger,Food and Drug Stores,Food and Drug Stores,"Cincinnati, OH",109830,2039,431000
17,18,Amazon.com,Technology,Internet Services and Retailing,"Seattle, WA",107006,596,230800
18,19,Walgreens Boots Alliance,Food and Drug Stores,Food and Drug Stores,"Deerfield, IL",103444,4220,302500
19,20,HP,Technology,"Computers, Office Equipment","Palo Alto, CA",103355,4554,287000
20,21,Cardinal Health,Health Care,Wholesalers: Health Care,"Dublin, OH",102531,1215,34500
21,22,Express Scripts Holding,Health Care,Health Care: Pharmacy and Other Services,"St. Louis, MO",101752,2476,25900
22,23,J.P. Morgan Chase,Financials,Commercial Banks,"New York, NY",101006,24442,234598
23,24,Boeing,Aerospace & Defense,Aerospace and Defense,"Chicago, IL",96114,5176,161400
24,25,Microsoft,Technology,Computer Software,"Redmond, WA",93580,12193,118000
25,26,Bank of America Corp.,Financials,Commercial Banks,"Charlotte, NC",93056,15888,213280
26,27,Wells Fargo,Financials,Commercial Banks,"San Francisco, CA",90033,22894,264700
27,28,Home Depot,Retailing,Specialty Retailers: Other,"Atlanta, GA",88519,7009,385000
28,29,Citigroup,Financials,Commercial Banks,"New York, NY",88275,17242,231000
29,30,Phillips 66,Energy,Petroleum Refining,"Houston, TX",87169,4227,14000
30,31,IBM,Technology,Information Technology Services,"Armonk, NY",82461,13190,411798
31,32,Valero Energy,Energy,Petroleum Refining,"San Antonio, TX",81824,3990,10103
32,33,Anthem,Health Care,Health Care: Insurance and Managed Care,"Indianapolis, IN",79157,2560,53000
33,34,Procter & Gamble,Household Products,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
34,35,State Farm Insurance Cos.,Financials,Insurance: Property and Casualty (Mutual),"Bloomington, IL",75697,6229,70425
...,...,...,...,...,...,...,...,...
970,971,VeriFone Systems,Technology,"Computers, Office Equipment","San Jose, CA",2001,79,5400
971,972,Genesee & Wyoming,Transportation,Railroads,"Darien, CT",2000,225,7500
972,973,99 Cents Only Stores,Retailing,Specialty Retailers: Other,"Commerce, CA",1999,-232,18200
973,974,Roadrunner Transportation Systems,Transportation,Transportation and Logistics,"Cudahy, WI",1995,48,4502
974,975,Super Micro Computer,Technology,"Computers, Office Equipment","San Jose, CA",1991,102,2285
975,976,First Republic Bank,Financials,Commercial Banks,"San Francisco, CA",1989,522,3130
976,977,Hill-Rom Holdings,Health Care,Medical Products and Equipment,"Chicago, IL",1988,48,10000
977,978,Providence Service,Health Care,Health Care: Pharmacy and Other Services,"Tucson, AZ",1987,84,9072
978,979,Allison Transmission Holdings,Motor Vehicles & Parts,Motor Vehicles and Parts,"Indianaoplis, IN",1986,182,2700
979,980,Spire,Energy,Utilities: Gas and Electric,"St. Louis, MO",1976,137,3078
980,981,WPX Energy,Energy,"Mining, Crude-Oil Production","Tulsa, OK",1958,-1727,1040
981,982,Century Aluminum,Materials,Metals,"Chicago, IL",1950,-59,1778
982,983,Adams Resources & Energy,Energy,Petroleum Refining,"Houston, TX",1944,-1,809
983,984,Nuance Communications,Technology,Computer Software,"Burlington, MA",1931,-115,13500
984,985,Primoris Services,Engineering & Construction,"Engineering, Construction","Dallas, TX",1929,37,7011
985,986,Schnitzer Steel Industries,Materials,Metals,"Portland, OR",1924,-197,2955
986,987,Delta Tucker Holdings,Aerospace & Defense,Aerospace and Defense,"McLean, VA",1923,-133,12000
987,988,Hospitality Properties Trust,Financials,Real estate,"Newton, MA",1922,166,400
988,989,Cenveo,Media,"Publishing, Printing","Stamford, CT",1921,-31,7300
989,990,F5 Networks,Technology,Network and Other Communications Equipment,"Seattle, WA",1920,365,4178
990,991,BlueLinx Holdings,Wholesalers,Wholesalers: Diversified,"Atlanta, GA",1917,-12,1600
991,992,Revlon,Household Products,Household and Personal Products,"New York, NY",1914,56,5700
992,993,DeVry Education Group,Business Services,Education,"Downers Grove, IL",1910,140,11770
993,994,MDC Holdings,Engineering & Construction,Homebuilders,"Denver, CO",1909,66,1225
994,995,EP Energy,Energy,"Mining, Crude-Oil Production","Houston, TX",1908,-3748,665
995,996,New York Community Bancorp,Financials,Commercial Banks,"Westbury, NY",1902,-47,3448
996,997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
998,999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,"Dublin, OH",1896,161,21200
999,1000,Briggs & Stratton,Industrials,Industrial Machinery,"Wauwatosa, WI",1895,46,5480

In [20]:
df.iloc[0]

Rank                             1
Company                    Walmart
Sector                   Retailing
Industry     General Merchandisers
Location           Bentonville, AR
Revenue                     482130
Profits                      14694
Employees                  2300000
Name: 0, dtype: object

In [21]:
df.iloc[0:4]

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
3,4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000

In [22]:
df.iloc[4:0]

Empty DataFrame
Columns: [Rank, Company, Sector, Industry, Location, Revenue, Profits, Employees]
Index: []

In [23]:
df.iloc[2:5]

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
3,4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
4,5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400

In [24]:
#select columns by their position
df.iloc[1:30 , 1:4]

,Company,Sector,Industry
1,Exxon Mobil,Energy,Petroleum Refining
2,Apple,Technology,"Computers, Office Equipment"
3,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock)
4,McKesson,Health Care,Wholesalers: Health Care
5,UnitedHealth Group,Health Care,Health Care: Insurance and Managed Care
6,CVS Health,Food and Drug Stores,Food and Drug Stores
7,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts
8,Ford Motor,Motor Vehicles & Parts,Motor Vehicles and Parts
9,AT&T,Telecommunications,Telecommunications
10,General Electric,Industrials,Industrial Machinery
11,AmerisourceBergen,Health Care,Wholesalers: Health Care
12,Verizon,Telecommunications,Telecommunications
13,Chevron,Energy,Petroleum Refining
14,Costco,Retailing,Specialty Retailers: Other
15,Fannie Mae,Financials,Diversified Financials
16,Kroger,Food and Drug Stores,Food and Drug Stores
17,Amazon.com,Technology,Internet Services and Retailing
18,Walgreens Boots Alliance,Food and Drug Stores,Food and Drug Stores
19,HP,Technology,"Computers, Office Equipment"
20,Cardinal Health,Health Care,Wholesalers: Health Care
21,Express Scripts Holding,Health Care,Health Care: Pharmacy and Other Services
22,J.P. Morgan Chase,Financials,Commercial Banks
23,Boeing,Aerospace & Defense,Aerospace and Defense
24,Microsoft,Technology,Computer Software
25,Bank of America Corp.,Financials,Commercial Banks
26,Wells Fargo,Financials,Commercial Banks
27,Home Depot,Retailing,Specialty Retailers: Other
28,Citigroup,Financials,Commercial Banks
29,Phillips 66,Energy,Petroleum Refining

In [25]:
df.iloc[0:4,0:4]

,Rank,Company,Sector,Industry
0,1,Walmart,Retailing,General Merchandisers
1,2,Exxon Mobil,Energy,Petroleum Refining
2,3,Apple,Technology,"Computers, Office Equipment"
3,4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock)

In [26]:
df.iloc[0:4,0:6:1]

,Rank,Company,Sector,Industry,Location,Revenue
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130
1,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715
3,4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821

In [27]:
df.iloc[0:4,0:6:2]

   Rank      Sector         Location
0     1   Retailing  Bentonville, AR
1     2      Energy       Irving, TX
2     3  Technology    Cupertino, CA
3     4  Financials        Omaha, NE

In [28]:
df.iloc[0:10:2,0:8:2]

   Rank                  Sector           Location  Profits
0     1               Retailing    Bentonville, AR    14694
2     3              Technology      Cupertino, CA    53394
4     5             Health Care  San Francisco, CA     1476
6     7    Food and Drug Stores     Woonsocket, RI     5237
8     9  Motor Vehicles & Parts       Dearborn, MI     7373

In [29]:
df.iloc[0:100]['Location']

0             Bentonville, AR
1                  Irving, TX
2               Cupertino, CA
3                   Omaha, NE
4           San Francisco, CA
5              Minnetonka, MN
6              Woonsocket, RI
7                 Detroit, MI
8                Dearborn, MI
9                  Dallas, TX
10              Fairfield, CT
11           Chesterbrook, PA
12               New York, NY
13              San Ramon, CA
14               Issaquah, WA
15             Washington, DC
16             Cincinnati, OH
17                Seattle, WA
18              Deerfield, IL
19              Palo Alto, CA
20                 Dublin, OH
21              St. Louis, MO
22               New York, NY
23                Chicago, IL
24                Redmond, WA
25              Charlotte, NC
26          San Francisco, CA
27                Atlanta, GA
28               New York, NY
29                Houston, TX
               ...
70              Richfield, MN
71             Kenilworth, NJ
72                 Boston, MA
73               New York, NY
74          Morris Plains, NJ
75            Springfield, MA
76           Redwood City, CA
77               New York, NY
78             Bloomfield, CT
79                Chicago, IL
80             Northbrook, IL
81               New York, NY
82               New York, NY
83    Inver Grove Heights, MN
84               New York, NY
85            Foster City, CA
86               Lakeland, FL
87           Falls Church, VA
88             Framingham, MA
89                Houston, TX
90              Beaverton, OR
91                  Miami, FL
92               St. Paul, MN
93              Deerfield, IL
94                Chicago, IL
95               New York, NY
96                 Moline, IL
97            San Antonio, TX
98               New York, NY
99              Milwaukee, WI
Name: Location, Length: 100, dtype: object

In [30]:
df.iloc[0:10][['Sector','Location','Profits']]

                   Sector           Location  Profits
0               Retailing    Bentonville, AR    14694
1                  Energy         Irving, TX    16150
2              Technology      Cupertino, CA    53394
3              Financials          Omaha, NE    24083
4             Health Care  San Francisco, CA     1476
5             Health Care     Minnetonka, MN     5813
6    Food and Drug Stores     Woonsocket, RI     5237
7  Motor Vehicles & Parts        Detroit, MI     9687
8  Motor Vehicles & Parts       Dearborn, MI     7373
9      Telecommunications         Dallas, TX    13345

In [31]:
df.iloc[:10,:10]###first 10 rows and first 10 columns

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
3,4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
4,5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
5,6,UnitedHealth Group,Health Care,Health Care: Insurance and Managed Care,"Minnetonka, MN",157107,5813,200000
6,7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
7,8,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
8,9,Ford Motor,Motor Vehicles & Parts,Motor Vehicles and Parts,"Dearborn, MI",149558,7373,199000
9,10,AT&T,Telecommunications,Telecommunications,"Dallas, TX",146801,13345,281450

In [32]:
df.iloc[300:,4:]

                    Location  Revenue  Profits  Employees
300                Miami, FL     9474      803       7749
301            Grapevine, TX     9364      403      40600
302          Los Angeles, CA     9351      312      13400
303               Austin, MN     9264      686      20700
304               Summit, NJ     9256     1602       6971
305             Richmond, VA     9249     -615       4100
306             San Jose, CA     9248     1228      16800
307              Norwalk, CT     9224     2551      15500
308            Las Vegas, NV     9190     -448      57950
309         Auburn Hills, MI     9170      457      59350
310         Jacksonville, FL     9132      527      54091
311              Phoenix, AZ     9115      750      33000
312              Corning, NY     9111     1339      35700
313                Omaha, NE     8992      251      22000
314        Downers Grove, IL     8982       17       9200
315             Plymouth, MN     8895     1000       8900
316  South San Francisco, CA     8858       52       6655
317          Minneapolis, MN     8789      769       3104
318              Houston, TX     8782      501      23000
319              Atlanta, GA     8779     1472      14000
320         Philadelphia, PA     8762      393      24000
321              Houston, TX     8757    -4525       2760
322              Atlanta, GA     8718       27       8800
323        The Woodlands, TX     8698    -6692       5800
324           Burlington, NC     8680      437      50000
325        Newport Beach, CA     8642      661       3276
326             New York, NY     8633     -147      25000
327           Boca Raton, FL     8604      147      40000
328              Atlanta, GA     8533     1933      24043
329           Parsippany, NJ     8502      313      26350
..                       ...      ...      ...        ...
970             San Jose, CA     2001       79       5400
971               Darien, CT     2000      225       7500
972             Commerce, CA     1999     -232      18200
973               Cudahy, WI     1995       48       4502
974             San Jose, CA     1991      102       2285
975        San Francisco, CA     1989      522       3130
976              Chicago, IL     1988       48      10000
977               Tucson, AZ     1987       84       9072
978         Indianaoplis, IN     1986      182       2700
979            St. Louis, MO     1976      137       3078
980                Tulsa, OK     1958    -1727       1040
981              Chicago, IL     1950      -59       1778
982              Houston, TX     1944       -1        809
983           Burlington, MA     1931     -115      13500
984               Dallas, TX     1929       37       7011
985             Portland, OR     1924     -197       2955
986               McLean, VA     1923     -133      12000
987               Newton, MA     1922      166        400
988             Stamford, CT     1921      -31       7300
989              Seattle, WA     1920      365       4178
990              Atlanta, GA     1917      -12       1600
991             New York, NY     1914       56       5700
992        Downers Grove, IL     1910      140      11770
993               Denver, CO     1909       66       1225
994              Houston, TX     1908    -3748        665
995             Westbury, NY     1902      -47       3448
996             Portland, OR     1898      172       2646
997             Portland, OR     1898      172       2646
998               Dublin, OH     1896      161      21200
999            Wauwatosa, WI     1895       46       5480

[700 rows x 4 columns]

In [33]:
df.iloc[0][4]

'Bentonville, AR'

In [34]:
df.iloc[0][['Sector','Industry']]

Sector                  Retailing
Industry    General Merchandisers
Name: 0, dtype: object

In [35]:
df.iloc[0]['Company']

'Walmart'

In [36]:
## For loc function
df2=pd.read_csv('fortune1000.csv',index_col='Company')
df2

,Rank,Sector,Industry,Location,Revenue,Profits,Employees
Company,,,,,,,
Walmart,1,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
Exxon Mobil,2,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
Apple,3,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
Berkshire Hathaway,4,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
McKesson,5,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
UnitedHealth Group,6,Health Care,Health Care: Insurance and Managed Care,"Minnetonka, MN",157107,5813,200000
CVS Health,7,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
General Motors,8,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
Ford Motor,9,Motor Vehicles & Parts,Motor Vehicles and Parts,"Dearborn, MI",149558,7373,199000
AT&T,10,Telecommunications,Telecommunications,"Dallas, TX",146801,13345,281450
General Electric,11,Industrials,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
AmerisourceBergen,12,Health Care,Wholesalers: Health Care,"Chesterbrook, PA",135962,-135,17000
Verizon,13,Telecommunications,Telecommunications,"New York, NY",131620,17879,177700
Chevron,14,Energy,Petroleum Refining,"San Ramon, CA",131118,4587,61500
Costco,15,Retailing,Specialty Retailers: Other,"Issaquah, WA",116199,2377,161000
Fannie Mae,16,Financials,Diversified Financials,"Washington, DC",110359,10954,7300
Kroger,17,Food and Drug Stores,Food and Drug Stores,"Cincinnati, OH",109830,2039,431000
Amazon.com,18,Technology,Internet Services and Retailing,"Seattle, WA",107006,596,230800
Walgreens Boots Alliance,19,Food and Drug Stores,Food and Drug Stores,"Deerfield, IL",103444,4220,302500
HP,20,Technology,"Computers, Office Equipment","Palo Alto, CA",103355,4554,287000
Cardinal Health,21,Health Care,Wholesalers: Health Care,"Dublin, OH",102531,1215,34500
Express Scripts Holding,22,Health Care,Health Care: Pharmacy and Other Services,"St. Louis, MO",101752,2476,25900
J.P. Morgan Chase,23,Financials,Commercial Banks,"New York, NY",101006,24442,234598
Boeing,24,Aerospace & Defense,Aerospace and Defense,"Chicago, IL",96114,5176,161400
Microsoft,25,Technology,Computer Software,"Redmond, WA",93580,12193,118000
Bank of America Corp.,26,Financials,Commercial Banks,"Charlotte, NC",93056,15888,213280
Wells Fargo,27,Financials,Commercial Banks,"San Francisco, CA",90033,22894,264700
Home Depot,28,Retailing,Specialty Retailers: Other,"Atlanta, GA",88519,7009,385000
Citigroup,29,Financials,Commercial Banks,"New York, NY",88275,17242,231000
Phillips 66,30,Energy,Petroleum Refining,"Houston, TX",87169,4227,14000
...,...,...,...,...,...,...,...
VeriFone Systems,971,Technology,"Computers, Office Equipment","San Jose, CA",2001,79,5400
Genesee & Wyoming,972,Transportation,Railroads,"Darien, CT",2000,225,7500
99 Cents Only Stores,973,Retailing,Specialty Retailers: Other,"Commerce, CA",1999,-232,18200
Roadrunner Transportation Systems,974,Transportation,Transportation and Logistics,"Cudahy, WI",1995,48,4502
Super Micro Computer,975,Technology,"Computers, Office Equipment","San Jose, CA",1991,102,2285
First Republic Bank,976,Financials,Commercial Banks,"San Francisco, CA",1989,522,3130
Hill-Rom Holdings,977,Health Care,Medical Products and Equipment,"Chicago, IL",1988,48,10000
Providence Service,978,Health Care,Health Care: Pharmacy and Other Services,"Tucson, AZ",1987,84,9072
Allison Transmission Holdings,979,Motor Vehicles & Parts,Motor Vehicles and Parts,"Indianaoplis, IN",1986,182,2700
Spire,980,Energy,Utilities: Gas and Electric,"St. Louis, MO",1976,137,3078
WPX Energy,981,Energy,"Mining, Crude-Oil Production","Tulsa, OK",1958,-1727,1040
Century Aluminum,982,Materials,Metals,"Chicago, IL",1950,-59,1778
Adams Resources & Energy,983,Energy,Petroleum Refining,"Houston, TX",1944,-1,809
Nuance Communications,984,Technology,Computer Software,"Burlington, MA",1931,-115,13500
Primoris Services,985,Engineering & Construction,"Engineering, Construction","Dallas, TX",1929,37,7011
Schnitzer Steel Industries,986,Materials,Metals,"Portland, OR",1924,-197,2955
Delta Tucker Holdings,987,Aerospace & Defense,Aerospace and Defense,"McLean, VA",1923,-133,12000
Hospitality Properties Trust,988,Financials,Real estate,"Newton, MA",1922,166,400
Cenveo,989,Media,"Publishing, Printing","Stamford, CT",1921,-31,7300
F5 Networks,990,Technology,Network and Other Communications Equipment,"Seattle, WA",1920,365,4178
BlueLinx Holdings,991,Wholesalers,Wholesalers: Diversified,"Atlanta, GA",1917,-12,1600
Revlon,992,Household Products,Household and Personal Products,"New York, NY",1914,56,5700
DeVry Education Group,993,Business Services,Education,"Downers Grove, IL",1910,140,11770
MDC Holdings,994,Engineering & Construction,Homebuilders,"Denver, CO",1909,66,1225
EP Energy,995,Energy,"Mining, Crude-Oil Production","Houston, TX",1908,-3748,665
New York Community Bancorp,996,Financials,Commercial Banks,"Westbury, NY",1902,-47,3448
Portland General Electric,997,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
Portland General Electric,997,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
Wendy’s,999,"Hotels, Resturants & Leisure",Food Services,"Dublin, OH",1896,161,21200
Briggs & Stratton,1000,Industrials,Industrial Machinery,"Wauwatosa, WI",1895,46,5480

In [37]:
df2.loc['Walmart']

Rank                             1
Sector                   Retailing
Industry     General Merchandisers
Location           Bentonville, AR
Revenue                     482130
Profits                      14694
Employees                  2300000
Name: Walmart, dtype: object

In [38]:
df2.loc['Walmart']

Rank                             1
Sector                   Retailing
Industry     General Merchandisers
Location           Bentonville, AR
Revenue                     482130
Profits                      14694
Employees                  2300000
Name: Walmart, dtype: object

In [39]:
df2.loc['AT&T']

Rank                         10
Sector       Telecommunications
Industry     Telecommunications
Location             Dallas, TX
Revenue                  146801
Profits                   13345
Employees                281450
Name: AT&T, dtype: object

In [40]:
df2.loc['Walmart'][3]

'Bentonville, AR'

In [41]:
df2.loc['Walmart'][3:6]

Location    Bentonville, AR
Revenue              482130
Profits               14694
Name: Walmart, dtype: object

In [42]:
df2.loc['Walmart']['Sector']

'Retailing'

In [43]:
#null values

In [44]:
df.isnull()

      Rank  Company  Sector  Industry  Location  Revenue  Profits  Employees
0    False    False   False     False     False    False    False      False
1    False    False   False     False     False    False    False      False
2    False    False   False     False     False    False    False      False
3    False    False   False     False     False    False    False      False
4    False    False   False     False     False    False    False      False
5    False    False   False     False     False    False    False      False
6    False    False   False     False     False    False    False      False
7    False    False   False     False     False    False    False      False
8    False    False   False     False     False    False    False      False
9    False    False   False     False     False    False    False      False
10   False    False   False     False     False    False    False      False
11   False    False   False     False     False    False    False      False
12   False    False   False     False     False    False    False      False
13   False    False   False     False     False    False    False      False
14   False    False   False     False     False    False    False      False
15   False    False   False     False     False    False    False      False
16   False    False   False     False     False    False    False      False
17   False    False   False     False     False    False    False      False
18   False    False   False     False     False    False    False      False
19   False    False   False     False     False    False    False      False
20   False    False   False     False     False    False    False      False
21   False    False   False     False     False    False    False      False
22   False    False   False     False     False    False    False      False
23   False    False   False     False     False    False    False      False
24   False    False   False     False     False    False    False      False
25   False    False   False     False     False    False    False      False
26   False    False   False     False     False    False    False      False
27   False    False   False     False     False    False    False      False
28   False    False   False     False     False    False    False      False
29   False    False   False     False     False    False    False      False
..     ...      ...     ...       ...       ...      ...      ...        ...
970  False    False   False     False     False    False    False      False
971  False    False   False     False     False    False    False      False
972  False    False   False     False     False    False    False      False
973  False    False   False     False     False    False    False      False
974  False    False   False     False     False    False    False      False
975  False    False   False     False     False    False    False      False
976  False    False   False     False     False    False    False      False
977  False    False   False     False     False    False    False      False
978  False    False   False     False     False    False    False      False
979  False    False   False     False     False    False    False      False
980  False    False   False     False     False    False    False      False
981  False    False   False     False     False    False    False      False
982  False    False   False     False     False    False    False      False
983  False    False   False     False     False    False    False      False
984  False    False   False     False     False    False    False      False
985  False    False   False     False     False    False    False      False
986  False    False   False     False     False    False    False      False
987  False    False   False     False     False    False    False      False
988  False    False   False     False     False    False    False      False
989  False    False   False     False     False    False    False      False
990  False    False   False     False     False    False    False      False
991  False    False   False     False     False    False    False      False
992  False    False   False     False     False    False    False      False
993  False    False   False     False     False    False    False      False
994  False    False   False     False     False    False    False      False
995  False    False   False     False     False    False    False      False
996  False    False   False     False     False    False    False      False
997  False    False   False     False     False    False    False      False
998  False    False   False     False     False    False    False      False
999  False    False   False     False     False    False    False      False

[1000 rows x 8 columns]

In [45]:
df.isnull().sum()

Rank         0
Company      0
Sector       0
Industry     0
Location     0
Revenue      0
Profits      0
Employees    0
dtype: int64

In [46]:
df.isnull().mean()*100

Rank         0.0
Company      0.0
Sector       0.0
Industry     0.0
Location     0.0
Revenue      0.0
Profits      0.0
Employees    0.0
dtype: float64

In [47]:
##Series related functions

In [48]:
df['Profits'].sum()

894093

In [49]:
df['Profits'].max()

53394

In [50]:
df['Profits'].min()

-23119

In [51]:
df['Profits'].mean()

894.093

In [52]:
df['Profits'].std()

3297.063593971716

In [53]:
df['Profits'].var()

10870628.342693688

In [54]:
df['Profits'].median()

282.5

In [55]:
df['Profits'].mode()

0    172
dtype: int64

In [56]:
df['Sector'].mode()

0    Financials
dtype: object

In [57]:
df['Company'].mode()

0        Host Hotels & Resorts
1                 Noble Energy
2    Portland General Electric
3            Regions Financial
dtype: object

In [58]:
df['Company'].unique()

array(['Walmart', 'Exxon Mobil', 'Apple', 'Berkshire Hathaway',
       'McKesson', 'UnitedHealth Group', 'CVS Health', 'General Motors',
       'Ford Motor', 'AT&T', 'General Electric', 'AmerisourceBergen',
       'Verizon', 'Chevron', 'Costco', 'Fannie Mae', 'Kroger',
       'Amazon.com', 'Walgreens Boots Alliance', 'HP', 'Cardinal Health',
       'Express Scripts Holding', 'J.P. Morgan Chase', 'Boeing',
       'Microsoft', 'Bank of America Corp.', 'Wells Fargo', 'Home Depot',
       'Citigroup', 'Phillips 66', 'IBM', 'Valero Energy', 'Anthem',
       'Procter & Gamble', 'State Farm Insurance Cos.', 'Alphabet',
       'Comcast', 'Target', 'Johnson & Johnson', 'MetLife',
       'Archer Daniels Midland', 'Marathon Petroleum', 'Freddie Mac',
       'PepsiCo', 'United Technologies', 'Aetna', 'Lowe’s', 'UPS', 'AIG',
       'Prudential Financial', 'Intel', 'Humana', 'Disney',
       'Cisco Systems', 'Pfizer', 'Dow Chemical', 'Sysco', 'FedEx',
       'Caterpillar', 'Lockheed Martin', 'New York Life Insurance',
       'Coca-Cola', 'HCA Holdings', 'Ingram Micro',
       'Energy Transfer Equity', 'Tyson Foods', 'American Airlines Group',
       'Delta Air Lines', 'Nationwide', 'Johnson Controls', 'Best Buy',
       'Merck', 'Liberty Mutual Insurance Group', 'Goldman Sachs Group',
       'Honeywell International', 'Massachusetts Mutual Life Insurance',
       'Oracle', 'Morgan Stanley', 'Cigna', 'United Continental Holdings',
       'Allstate', 'TIAA', 'INTL FCStone', 'CHS', 'American Express',
       'Gilead Sciences', 'Publix Super Markets', 'General Dynamics',
       'TJX', 'ConocoPhillips', 'Nike', 'World Fuel Services', '3M',
       'Mondelez International', 'Exelon', 'Twenty-First Century Fox',
       'Deere', 'Tesoro', 'Time Warner', 'Northwestern Mutual', 'DuPont',
       'Avnet', 'Macy’s', 'Enterprise Products Partners',
       'Travelers Cos.', 'Philip Morris International', 'Rite Aid',
       'Tech Data', 'McDonald’s', 'Qualcomm', 'Sears Holdings',
       'Capital One Financial', 'EMC', 'USAA', 'Duke Energy',
       'Time Warner Cable', 'Halliburton', 'Northrop Grumman',
       'Arrow Electronics', 'Raytheon', 'Plains GP Holdings',
       'US Foods Holding', 'AbbVie', 'Centene',
       'Community Health Systems', 'Alcoa', 'International Paper',
       'Emerson Electric', 'Union Pacific', 'Amgen', 'U.S. Bancorp',
       'Staples', 'Danaher', 'Whirlpool', 'Aflac', 'AutoNation',
       'Progressive', 'Abbott Laboratories', 'Dollar General',
       'Tenet Healthcare', 'Eli Lilly', 'Southwest Airlines',
       'Penske Automotive Group', 'ManpowerGroup', 'Kohl’s', 'Starbucks',
       'Paccar', 'Cummins', 'Altria Group', 'Xerox', 'Kimberly-Clark',
       'Hartford Financial Services Group', 'Kraft Heinz', 'Lear',
       'Fluor', 'AECOM', 'Facebook', 'Jabil Circuit', 'CenturyLink',
       'Supervalu', 'General Mills', 'Southern', 'NextEra Energy',
       'Thermo Fisher Scientific', 'American Electric Power',
       'PG&E Corp.', 'NGL Energy Partners', 'Bristol-Myers Squibb',
       'Goodyear Tire & Rubber', 'Nucor', 'PNC Financial Services Group',
       'Health Net', 'Micron Technology', 'Colgate-Palmolive',
       'Freeport-McMoRan', 'ConAgra Foods', 'Gap', 'Baker Hughes',
       'Bank of New York Mellon Corp.', 'Dollar Tree',
       'Whole Foods Market', 'PPG Industries', 'Genuine Parts',
       'Icahn Enterprises', 'Performance Food Group', 'Omnicom Group',
       'DISH Network', 'FirstEnergy', 'Monsanto', 'AES', 'CarMax',
       'National Oilwell Varco', 'NRG Energy', 'Western Digital',
       'Marriott International', 'Office Depot', 'Nordstrom',
       'Kinder Morgan', 'Aramark', 'DaVita HealthCare Partners',
       'Molina Healthcare', 'WellCare Health Plans', 'CBS', 'Visa',
       'Lincoln National', 'Ecolab', 'Kellogg', 'C.H. Robinson Worldwide',
       'Textron', 'Loews', 'Illinois Tool Works', 'Synnex', 'Viacom',
       'HollyFrontier', 'Land O’Lakes', 'Devon Energy', 'PBF Energy',
       'Yum Brands', 'Texas Instruments', 'CDW', 'Waste Management',
       'Marsh & McLennan', 'Chesapeake Energy', 'Parker-Hannifin',
       'Occidental Petroleum', 'Guardian Life Ins. Co. of America',
       'Farmers Insurance Exchange', 'J.C. Penney', 'Consolidated Edison',
       'Cognizant Technology Solutions', 'VF', 'Ameriprise Financial',
       'Computer Sciences', 'L Brands', 'Jacobs Engineering Group',
       'Principal Financial', 'Ross Stores', 'Bed Bath & Beyond', 'CSX',
       'Toys “R” Us', 'Las Vegas Sands', 'Leucadia National',
       'Dominion Resources', 'United States Steel', 'L-3 Communications',
       'Edison International', 'Entergy', 'ADP', 'First Data',
       'BlackRock', 'WestRock', 'Voya Financial', 'Sherwin-Williams',
       'Hilton Worldwide Holdings', 'R.R. Donnelley & Sons',
       'Stanley Black & Decker', 'Xcel Energy', 'Murphy USA',
       'CBRE Group', 'D.R. Horton', 'Estee Lauder', 'Praxair', 'Biogen',
       'State Street Corp.', 'Unum Group', 'Reynolds American',
       'Group 1 Automotive', 'Henry Schein', 'Hertz Global Holdings',
       'Norfolk Southern', 'Reinsurance Group of America',
       'Public Service Enterprise Group', 'BB&T Corp.', 'DTE Energy',
       'Assurant', 'Global Partners', 'Huntsman', 'Becton Dickinson',
       'Sempra Energy', 'AutoZone', 'Navistar International',
       'Precision Castparts', 'Discover Financial Services',
       'Liberty Interactive', 'W.W. Grainger', 'Baxter International',
       'Stryker', 'Air Products & Chemicals', 'Western Refining',
       'Universal Health Services', 'Owens & Minor',
       'Charter Communications', 'Advance Auto Parts', 'MasterCard',
       'Applied Materials', 'Eastman Chemical', 'Sonic Automotive',
       'Ally Financial', 'CST Brands', 'eBay', 'Lennar', 'GameStop',
       'Reliance Steel & Aluminum', 'Hormel Foods', 'Celgene',
       'Genworth Financial', 'PayPal Holdings', 'Priceline Group',
       'MGM Resorts International', 'Autoliv',
       'Fidelity National Financial', 'Republic Services', 'Corning',
       'Peter Kiewit Sons’', 'Univar', 'Mosaic', 'Core-Mark Holding',
       'Thrivent Financial for Lutherans', 'Cameron International',
       'HD Supply Holdings', 'Crown Holdings', 'EOG Resources', 'Veritiv',
       'Anadarko Petroleum', 'Laboratory Corp. of America',
       'Pacific Life', 'News Corp.', 'Jarden', 'SunTrust Banks',
       'Avis Budget Group', 'Broadcom', 'American Family Insurance Group',
       'Level 3 Communications', 'Tenneco', 'United Natural Foods',
       'Dean Foods', 'Campbell Soup', 'Mohawk Industries', 'BorgWarner',
       'PVH', 'Ball', 'O’Reilly Automotive', 'Eversource Energy',
       'Franklin Resources', 'Masco', 'Lithia Motors', 'KKR', 'Oneok',
       'Newmont Mining', 'PPL', 'SpartanNash', 'Quanta Services',
       'XPO Logistics', 'Ralph Lauren', 'Interpublic Group',
       'Steel Dynamics', 'WESCO International', 'Quest Diagnostics',
       'Boston Scientific', 'AGCO', 'Foot Locker', 'Hershey',
       'CenterPoint Energy', 'Williams', 'Dick’s Sporting Goods',
       'Live Nation Entertainment', 'Mutual of Omaha Insurance',
       'W.R. Berkley', 'LKQ', 'Avon Products', 'Darden Restaurants',
       'Kindred Healthcare', 'Weyerhaeuser', 'Casey’s General Stores',
       'Sealed Air', 'Fifth Third Bancorp', 'Dover',
       'Huntington Ingalls Industries', 'Netflix', 'Dillard’s',
       'EMCOR Group', 'Jones Financial', 'AK Steel Holding', 'UGI',
       'Expedia', 'salesforce.com', 'Targa Resources', 'Apache',
       'Spirit AeroSystems Holdings',
       'Expeditors International of Washington', 'Anixter International',
       'Fidelity National Information Services',
       'Asbury Automotive Group', 'Hess', 'Ryder System', 'Terex',
       'Coca-Cola European Partners', 'Auto-Owners Insurance',
       'Cablevision Systems', 'Symantec', 'Charles Schwab', 'Calpine',
       'CMS Energy', 'Alliance Data Systems', 'JetBlue Airways',
       'Discovery Communications', 'Trinity Industries', 'Sanmina', 'NCR',
       'FMC Technologies', 'Erie Insurance Group', 'Rockwell Automation',
       'Dr Pepper Snapple Group', 'iHeartMedia', 'Tractor Supply',
       'J.B. Hunt Transport Services', 'Commercial Metals',
       'Owens-Illinois', 'Harman International Industries', 'Baxalta',
       'American Financial Group', 'NetApp', 'Graybar Electric',
       'Oshkosh', 'Ameren', 'A-Mark Precious Metals', 'Barnes & Noble',
       'Dana Holding', 'Constellation Brands', 'LifePoint Health',
       'Zimmer Biomet Holdings', 'Harley-Davidson', 'PulteGroup',
       'Newell Brands', 'Avery Dennison', 'Jones Lang LaSalle',
       'WEC Energy Group', 'Marathon Oil', 'TravelCenters of America',
       'United Rentals', 'HRG Group', 'Old Republic International',
       'Windstream Holdings', 'Starwood Hotels & Resorts',
       'Delek US Holdings', 'Packaging Corp. of America',
       'Quintiles Transnational Holdings', 'Hanesbrands',
       'Realogy Holdings', 'Mattel', 'Motorola Solutions', 'J.M. Smucker',
       'Regions Financial', 'Clorox', 'Ingredion', 'Genesis Healthcare',
       'Peabody Energy', 'Alaska Air Group', 'Seaboard',
       'Frontier Communications', 'Amphenol', 'Lansing Trade Group',
       'SanDisk', 'St. Jude Medical', 'Wyndham Worldwide',
       'Kelly Services', 'Western Union', 'Envision Healthcare Holdings',
       'Visteon', 'Arthur J. Gallagher', 'Host Hotels & Resorts',
       'Insight Enterprises', 'Energy Future Holdings', 'Markel',
       'Essendant', 'CH2M Hill', 'Western & Southern Financial Group',
       'Owens Corning', 'S&P Global', 'Raymond James Financial',
       'NiSource', 'Airgas', 'ABM Industries', 'Citizens Financial Group',
       'Booz Allen Hamilton Holding', 'Simon Property Group', 'Domtar',
       'Rockwell Collins', 'Lam Research', 'Fiserv', 'Spectra Energy',
       'Navient', 'Big Lots', 'Telephone & Data Systems',
       'First American Financial', 'NVR', 'Cincinnati Financial',
       'Burlington Stores', 'KBR', 'Neiman Marcus Group',
       'Robert Half International', 'Leidos Holdings', 'Harris',
       'Hanover Insurance Group', 'Pepco Holdings', 'Nvidia', 'Alleghany',
       'M&T Bank Corp.', 'Rush Enterprises', 'Williams-Sonoma', 'Yahoo',
       'Sonoco Products', 'Brookdale Senior Living', 'Tutor Perini',
       'Michaels Cos.', 'Berry Plastics Group', 'Juniper Networks',
       'Northern Trust', 'YRC Worldwide', 'Pioneer Natural Resources',
       'Ascena Retail Group', 'Adobe Systems', 'Liberty Media',
       'American Tower', 'Zoetis', 'Polaris Industries',
       'Intercontinental Exchange', 'Quad/Graphics',
       'AmTrust Financial Services', 'Activision Blizzard',
       'Fortune Brands Home & Security', 'Caesars Entertainment',
       'Post Holdings', 'Blackstone Group', 'Magellan Health',
       'RPM International', 'Flowserve', 'KeyCorp', 'MRC Global',
       'Keurig Green Mountain', 'Electronic Arts', 'General Cable',
       'Cintas', 'Chipotle Mexican Grill', 'Levi Strauss', 'Talen Energy',
       'Westlake Chemical', 'Hasbro', 'Securian Financial Group',
       'Intuit', 'Cerner', 'Coty', 'Valspar', 'SCANA', 'Bloomin’ Brands',
       'MDU Resources Group', 'Patterson', 'Orbital ATK', 'FM Global',
       'Hyatt Hotels', 'CA', 'VWR', 'Science Applications International',
       'CF Industries Holdings', 'McCormick', 'LPL Financial Holdings',
       'Alon USA Energy', 'Swift Transportation',
       'Calumet Specialty Products Partners', 'MasTec', 'T. Rowe Price',
       'Andersons', 'Coach', 'Toll Brothers', 'Graphic Packaging Holding',
       'Brunswick', 'Atmos Energy', 'Hexion', 'Watsco', 'Tiffany',
       'Regeneron Pharmaceuticals', 'Avaya', 'Wynn Resorts', 'Bemis',
       'Mead Johnson Nutrition', 'Tesla Motors', 'Agilent Technologies',
       'Torchmark', 'Thor Industries', 'Cabela’s',
       'Advanced Micro Devices', 'Ametek', 'Smart & Final Stores',
       'Colfax', 'Under Armour', 'Antero Resources',
       'Nexeo Solutions Holdings', 'AGL Resources', 'Leggett & Platt',
       'Ulta Salon Cosmetics & Fragrance', 'CIT Group',
       'American Axle & Manufacturing', 'Triumph Group', 'Dynegy',
       'Fastenal', 'WhiteWave Foods', 'Welltower',
       'Sally Beauty Holdings', 'CNO Financial Group',
       'CommScope Holding', 'Axiall', 'Ingles Markets', 'Flowers Foods',
       'USG', 'Silgan Holdings', 'Select Medical Holdings',
       'Crown Castle International', 'Allegheny Technologies', 'HSN',
       'Xylem', 'Zebra Technologies', 'Albemarle',
       'Resolute Forest Products', 'Towers Watson', 'Boise Cascade',
       'Greif', 'Team Health Holdings', 'Snap-on',
       'Sprouts Farmers Market', 'Roper Technologies', 'First Solar',
       'Pitney Bowes', 'ADT', 'Molson Coors Brewing',
       'Builders FirstSource', 'Lexmark International', 'Carlisle',
       'CalAtlantic Group', 'Martin Marietta Materials', 'Hub Group',
       'American Eagle Outfitters', 'Abercrombie & Fitch', 'Regal Beloit',
       'Country Financial', 'Meritor', 'Tailored Brands',
       'ON Semiconductor', 'Pinnacle West Capital', 'Ventas', 'Moody’s',
       'Sprague Resources', 'FMC', 'Lennox International',
       'Buckeye Partners', 'Urban Outfitters', 'Manitowoc',
       'Analog Devices', 'Vulcan Materials', 'C.R. Bard', 'Murphy Oil',
       'Nasdaq', 'Darling Ingredients', 'Church & Dwight', 'Hubbell',
       'Worthington Industries', 'PolyOne', 'Diplomat Pharmacy',
       'Cooper-Standard Holdings', 'CME Group', 'Landstar System',
       'CACI International', 'Westinghouse Air Brake Technologies',
       'Rent-A-Center', 'Citrix Systems', 'Clean Harbors',
       'Skyworks Solutions', 'Alliant Energy', 'TD Ameritrade Holding',
       'TEGNA', 'IAC/InterActiveCorp', 'Fossil Group', 'NBTY',
       'ScanSource', 'TreeHouse Foods', 'Aleris', 'Groupon', 'Aaron’s',
       'Joy Global', 'Ryerson Holding', 'Helmerich & Payne',
       'HealthSouth', 'Vantiv', 'Skechers U.S.A.', 'American Water Works',
       'Iasis Healthcare', 'Huntington Bancshares',
       'Tempur Sealy International', 'EchoStar', 'CUNA Mutual Group',
       'Brown-Forman', 'Noble Energy', 'Regal Entertainment Group',
       'Consol Energy', 'Time', 'Varian Medical Systems', 'SkyWest',
       'BGC Partners', 'Puget Energy', 'H&R Block', 'Amerco', 'Brink’s',
       'Oceaneering International', 'Steelcase', 'W.R. Grace',
       'Metaldyne Performance Group', 'KB Home',
       'International Flavors & Fragrances', 'Genesco',
       'Scripps Networks Interactive', 'American National Insurance',
       'Scotts Miracle-Gro', 'Unisys', 'Carter’s', 'NOW',
       'Mercury General', 'Iron Mountain', 'Carlyle Group',
       'Brinker International', 'Northern Tier Energy', 'LinkedIn',
       'Service Corp. International', 'Stericycle', 'Sabre',
       'Graham Holdings', 'Taylor Morrison Home', 'Cooper Tire & Rubber',
       'Old Dominion Freight Line', 'Warner Music Group', 'Green Plains',
       'Alpha Natural Resources', 'Convergys', 'TECO Energy',
       'IMS Health Holdings', 'MSC Industrial Direct', 'Systemax',
       'Triple-S Management', 'StanCorp Financial Group',
       'Universal Forest Products', 'Gannett', 'Amkor Technology',
       'Linn Energy', 'Sentry Insurance Group', 'Weis Markets', 'Timken',
       'Cabot', 'Univision Communications', 'Keysight Technologies',
       'Olin', 'Cinemark Holdings', 'Cracker Barrel Old Country Store',
       'Penn National Gaming', 'Comerica', 'AmSurg', 'DST Systems',
       'Legg Mason', 'KLA-Tencor', 'Sanderson Farms', 'PriceSmart',
       'Superior Energy Services', 'Bon-Ton Stores',
       'KapStone Paper & Packaging', 'Mednax', 'Total System Services',
       'Global Payments', 'Diebold', 'Scientific Games',
       'Applied Industrial Technologies', 'Equity Residential', 'Crane',
       'Paychex', 'New Jersey Resources', 'B/E Aerospace', 'Equinix',
       'Monster Beverage', 'TransDigm Group', 'Acuity Brands', 'Hologic',
       'TrueBlue', 'Broadridge Financial Solutions', 'Verso',
       'Wolverine World Wide', 'Hain Celestial Group',
       'Heartland Payment Systems', 'Panera Bread',
       'Continental Resources', 'Dentsply Sirona', 'ArcBest', 'Equifax',
       'WGL Holdings', 'TriNet Group', 'Pinnacle Foods', 'Plexus',
       'Kennametal', 'Chico’s FAS', 'Kar Auction Services',
       'GNC Holdings', 'Crestwood Equity Partners', 'WABCO Holdings',
       'DSW', 'Valmont Industries', 'Greenbrier Cos.',
       'Alexion Pharmaceuticals', 'Insperity',
       'Hawaiian Electric Industries', 'Alere',
       'ServiceMaster Global Holdings', 'Apollo Education Group',
       'AMC Networks', 'Meritage Homes', 'Hyster-Yale Materials Handling',
       'Caleres', 'PC Connection', 'Arch Coal', 'Mattress Firm Holding',
       'HCP', 'Platform Specialty Products', 'Benchmark Electronics',
       'A.O. Smith', 'Lincoln Electric Holdings', 'Vornado Realty Trust',
       'Teradata', 'Nortek', 'Moog', 'Beacon Roofing Supply',
       'National General Holdings', 'Aretec Group', 'J.Crew Group',
       'EnerSys', 'Autodesk', 'Great Plains Energy',
       'Mutual of America Life Insurance', 'Edwards Lifesciences',
       'Boston Properties', 'ITT', 'Affiliated Managers Group',
       'Tops Holding', 'United Refining', 'Southwest Gas',
       'Medical Mutual of Ohio', 'Westar Energy', 'Ciena', 'Vectren',
       'Edgewell Personal Care', 'Armstrong World Industries',
       'Kansas City Southern', 'Enable Midstream Partners',
       'Cliffs Natural Resources', 'General Growth Properties',
       'California Resources', 'TRI Pointe Group',
       'Mettler-Toledo International', 'A. Schulman', 'Toro', 'SPX FLOW',
       'Intuitive Surgical', 'West', 'Public Storage', 'Xilinx',
       'Stifel Financial', 'Donaldson', 'Granite Construction', 'Pool',
       'Express', 'G-III Apparel Group', 'Kemper', 'EQT',
       'Nationstar Mortgage Holdings', 'Parexel International',
       'Columbia Sportswear', 'inVentiv Health', 'Hawaiian Holdings',
       'AptarGroup', 'IHS Markit', 'Belden', 'Maxim Integrated Products',
       'Coca-Cola Bottling', 'HNI', 'Vishay Intertechnology',
       'Tetra Tech', 'Teledyne Technologies', 'Party City Holdco',
       'Pinnacle Entertainment', 'Trimble Navigation',
       'Penn Mutual Life Insurance', 'MPM Holdings',
       'Sears Hometown & Outlet Stores', 'Tupperware Brands',
       'Alliance Holdings', 'Universal', 'Curtiss-Wright',
       'Brocade Communications Systems', 'PerkinElmer', 'Wayfair',
       'Nu Skin Enterprises', 'Genesis Energy', 'Synopsys',
       'Amica Mutual Insurance', 'Carpenter Technology', 'Illumina',
       'Sinclair Broadcast Group', 'Twitter', 'Domino’s Pizza',
       'Zions Bancorp.', 'Guess', 'Boyd Gaming', 'Akamai Technologies',
       'Prologis', 'OGE Energy', 'Outerwall', 'OneMain Holdings',
       'Magellan Midstream Partners', 'Knights of Columbus',
       'Symetra Financial', 'Gartner', 'Fred’s', 'Hovnanian Enterprises',
       'Kirby', 'Microchip Technology', 'Herman Miller',
       'Spirit Airlines', 'NewMarket', 'VCA', 'Selective Insurance Group',
       'hhgregg', 'Popular', 'Waste Connections', 'Restoration Hardware',
       'Cheesecake Factory', 'Mueller Industries', 'Maximus',
       'TTM Technologies', 'Werner Enterprises', 'Engility Holdings',
       'Rexnord', 'NuStar Energy', 'H.B. Fuller', 'Vista Outdoor',
       'On Assignment', 'Verisk Analytics', 'Par Pacific Holdings',
       'Alliance One International', 'Whiting Petroleum', 'Waters',
       'Tower International', 'Woodward', 'Stewart Information Services',
       'PharMerica', 'Wabash National', 'Ferrellgas Partners',
       'Dycom Industries', 'IDEX', 'Bio-Rad Laboratories',
       'QEP Resources', 'Griffon', 'American Greetings', 'Tribune Media',
       'Rackspace Hosting', 'VeriFone Systems', 'Genesee & Wyoming',
       '99 Cents Only Stores', 'Roadrunner Transportation Systems',
       'Super Micro Computer', 'First Republic Bank', 'Hill-Rom Holdings',
       'Providence Service', 'Allison Transmission Holdings', 'Spire',

In [59]:
df['Profits'].unique()

array([ 14694,  16150,  53394,  24083,   1476,   5813,   5237,   9687,
         7373,  13345,  -6126,   -135,  17879,   4587,   2377,  10954,
         2039,    596,   4220,   4554,   1215,   2476,  24442,   5176,
        12193,  15888,  22894,   7009,  17242,   4227,  13190,   3990,
         2560,   7036,   6229,  16348,   8163,   3363,  15409,   5310,
         1849,   2852,   6376,   5452,   7608,   2390,   2546,   4844,
         2196,   5642,  11420,   1276,   8382,   8981,   6960,   7685,
          687,   1050,   2102,   3605,    257,   7351,   2129,    215,
         1189,   1220,   7610,   4526,    581,   1563,    897,   4442,
          514,   6083,   4768,   1425,   9938,   6127,   2094,   7340,
         2171,   1214,     56,    781,   5163,  18108,   1965,   2965,
         2278,  -4428,   3273,    187,   4833,   7267,   2269,   8306,
         1940,   1540,   3833,    815,   1953,    572,   1072,   2521,
         3439,   6873,   2109,    266,   4529,   5271,  -1129,   4050,
         1990,   2272,   2816,   1844,   -671,    498,   2074,    118,
          168,   5144,    355,    158,   -322,    938,   2710,   4772,
         6939,   5879,    379,   3357,    783,   2533,    443,   1268,
         4423,   1165,   -140,   2408,   2181,    326,    419,    673,
         2757,   1604,   1399,   5241,    474,   1013,   1682,    634,
          746,    413,   -155,   3688,    284,    878,    192,   1221,
         2367,   2752,   1975,   2047,    874,     17,   1565,    307,
          358,   4106,    186,   2899,   1384, -12236,   -253,    920,
        -1967,   3158,    282,    536,   1406,    706,  -1194,     57,
         1094,    747,    578,   2314,    306,    597,   -769,  -6382,
         1465,    859,      8,    600,    253,    236,    270,    143,
          119,   1413,   6328,   1154,   1002,    614,    510,    697,
          260,   1899,    209,   1922,    740,    308, -14454,    146,
         1293,   2986,    403,    753,   1599, -14685,   1012,  -7829,
          411,   -114,   -513,   1193,   1624,   1232,   1562,     -8,
         1253,    303,   1234,   1021,    958,   1968,   -130,   1966,
        -1642,   -240,   1020,   -177,   1453,  -1481,   3345,    507,
          408,   1054,   1404,    151,    884,    985,    176,    547,
          751,   1089,   1547,   3547,   1980,    867,   3253,     94,
          479,    273,   1556,    502,   1679,   2084,    727,    142,
           44,     93,    695,   1349,   1160,   -184,   1530,   2297,
          869,    769,    968,   1439,   1278,    407,    681,    103,
         -271,    473,   3808,   1377,    848,     86,   1289,    149,
         1725,    803,    312,    686,   1602,   -615,   1228,   2551,
         -448,    457,    527,    750,   1339,    251,   1000,     52,
          501,   1472,    393,  -4525,     27,  -6692,    437,    661,
         -147,    147,   1933,    313,    978,    694,   3433,    247,
          139,     -9,    691,    615,    610,    281,    931,    879,
         2035,    183,    489,    245,    220,    682,     63,    311,
         -191,    702,    455,    211,    709,   -239,    541,    513,
         -692,   -571,    330,    -33,    333,    504,    423,  -1149,
          710,    -93,    506,    181,    335,   1712,    870,    404,
          123,    269,    172,    838,   -509,    765,    -47,     58,
       -23119,    789,    128,    632,    169,  -3056,    305,    175,
         1447,    235,    523,    677,   1034,    797,    377,   -178,
          828,    764,   -755,    410,    427,    -74,    343,    956,
          352,    560,     91,    230,    630,      7,     37,    159,
          839,    182,    752,    494,    350,    274,    439,    640,
        -2204,     28,    585,   -557,    422,     19,    387,    429,
          184,    369,    345,   1062,    580,    402,   -426,  -1996,
          171,   -196,     35,    389,    880,    612,     54,    145,
         2284,    357,    558,     76,  -5342,    583,    -44,     80,
         1156,    287,    368,    840,    233,   1828,    656,    712,
          196,    997,    219,    288,    383,    203,     15,    254,
          334,    332,    327,   1080,     66,    310,  -4359,    250,
         -458,     45,    363,    974,      1,   -273,   -237,     64,
          685,    339,   1274,   -642,    892,    315,   5920,   -115,
           31,    240,    268,    916,   -332,    875,   -122,    431,
          476,   -341,    646,    452,    365,    539,    400,    127,
         -622,    223,    738,    124,    846,    154,    117,    700,
           53,    198,   -139,    -79,   1223,    -13,    241,    -40,
          173,    464,    636,   -144,    195,    239,    654,   -889,
          401,    199,    189,   -660,    591,     38,    941,     20,
          353,    325,    320,   1057,     50,    516,    271,    -71,
         -816,     59,    991,    131,   1521,   -378,    340,   -137,
         -257,    385,     72,     83,    129,    696,    546,    296,
          360,    -23,    214,    289,     71,    218,     36,  -1027,
          206,    418,     78,    225,    221,    135,  -2271,    428,
           79,    277,     77,     26,    112,   1247,    148,    126,
          399,   -867,    319,    798,    378,    813,    460,    120,
           74,     65,    115,     49,     21,    136,  -1178,     -1,
          232,    693,    153,    217,    684,  -2441,   -375,   -881,
          412,    -12,    231,    144,    125,     85,     95,    607,
          243,    160,   -110,    238,   -502,     75,    -18,    197,
          331,   -166,    234,    267,   -101,     61,    213,    -91,
        -5785,    174,    417,   -100,     81,  -4760,   -334,    -45,
          164,    521,    163,    237,    366,    216,     89,  -1855,
          -57,    106,    336,    364,    278,  -1394,    116,    229,
          675,    286,    188,    447,    222,    132,   -477,   -354,
           32,   -374,      2,  -1667,    275,     40,    193,     39,
          346,     30,    367,     82,     47,  -2913,   -559,   -309,
          283,    760,   -214,    -27,     62,  -1243,   -331,    495,
          -62,    138,    292,     12,   -275,    484,   -752,   -749,
         1375,  -3554,    202,     88,    589,    242,   1311,    648,
           92,    208,    114,   -152,    105,   -109,     11,    121,
          -83,    212,    -77,    133,    226,    462,   -521,    321,
         -242,    819,     68,     -7,    -16,    227,     98,    317,
          166,   -133,    895,    -96,    -26,   -235,     84,     87,
          508,    -15,  -2219,    469,    194,     -6,    104,    113,
         -149,     34,   -320,   -232,     48,    102,    522,    137,
        -1727,    -59,   -197,    -31,    140,  -3748,    161,     46],
      dtype=int64)

In [60]:
df['Company'].value_counts()

Host Hotels & Resorts                     2
Regions Financial                         2
Portland General Electric                 2
Noble Energy                              2
MDU Resources Group                       1
Applied Industrial Technologies           1
Meritage Homes                            1
Citrix Systems                            1
Puget Energy                              1
HD Supply Holdings                        1
BlackRock                                 1
Post Holdings                             1
C.R. Bard                                 1
Franklin Resources                        1
Erie Insurance Group                      1
Core-Mark Holding                         1
ScanSource                                1
Whirlpool                                 1
Vantiv                                    1
Energy Future Holdings                    1
Olin                                      1
Ferrellgas Partners                       1
TreeHouse Foods                           1
CenturyLink                               1
Benchmark Electronics                     1
Diebold                                   1
Boston Scientific                         1
Paccar                                    1
Cracker Barrel Old Country Store          1
Hilton Worldwide Holdings                 1
                                         ..
Interpublic Group                         1
Popular                                   1
Allegheny Technologies                    1
Tribune Media                             1
Estee Lauder                              1
Spectra Energy                            1
Lincoln Electric Holdings                 1
Leggett & Platt                           1
HollyFrontier                             1
American Tower                            1
Targa Resources                           1
Oracle                                    1
Dana Holding                              1
Honeywell International                   1
Ryder System                              1
Fastenal                                  1
Watsco                                    1
USAA                                      1
Dover                                     1
CH2M Hill                                 1
MRC Global                                1
Expeditors International of Washington    1
Waters                                    1
Genworth Financial                        1
Cisco Systems                             1
Insight Enterprises                       1
Walmart                                   1
CMS Energy                                1
Emerson Electric                          1
Scientific Games                          1
Name: Company, Length: 996, dtype: int64

In [61]:
df['Sector'].value_counts()

Financials                      139
Energy                          122
Technology                      102
Retailing                        80
Health Care                      75
Business Services                51
Industrials                      46
Food, Beverages & Tobacco        43
Materials                        43
Wholesalers                      40
Transportation                   36
Chemicals                        30
Household Products               28
Engineering & Construction       26
Media                            25
Hotels, Resturants & Leisure     25
Motor Vehicles & Parts           24
Aerospace & Defense              20
Apparel                          15
Telecommunications               15
Food and Drug Stores             15
Name: Sector, dtype: int64

In [62]:
df['Revenue'].value_counts()

2986     3
2084     3
2197     3
2692     2
2707     2
3779     2
5308     2
2307     2
2290     2
2780     2
2247     2
3159     2
3133     2
5176     2
1898     2
2264     2
2377     2
3593     2
2682     2
6070     2
2371     2
2530     2
5565     2
2506     2
3506     2
3540     2
3496     2
4515     2
2604     2
4664     2
        ..
5291     1
3321     1
5373     1
3327     1
11554    1
3384     1
11574    1
7477     1
3378     1
8185     1
2972     1
11802    1
7467     1
3367     1
3653     1
27940    1
40222    1
9474     1
12712    1
9499     1
9496     1
27925    1
5392     1
3343     1
2330     1
40204    1
19110    1
44294    1
11524    1
6145     1
Name: Revenue, Length: 945, dtype: int64

In [63]:
df['Location'].value_counts()

New York, NY               72
Houston, TX                44
Atlanta, GA                23
Chicago, IL                22
Dallas, TX                 16
St. Louis, MO              14
Cleveland, OH              11
San Francisco, CA          11
Omaha, NE                  10
Columbus, OH               10
Pittsburgh, PA             10
San Jose, CA               10
Richmond, VA                9
Stamford, CT                9
Charlotte, NC               9
Milwaukee, WI               9
Minneapolis, MN             8
Las Vegas, NV               8
Los Angeles, CA             8
Phoenix, AZ                 8
Cincinnati, OH              8
Boston, MA                  8
McLean, VA                  8
Denver, CO                  8
Irving, TX                  8
Memphis, TN                 7
San Antonio, TX             7
Tulsa, OK                   7
Englewood, CO               7
Irvine, CA                  7
                           ..
Ronkonkoma, NY              1
Galveston, TX               1
Inver Grove Heights, MN     1
Schaumburg, IL              1
Herndon, VA                 1
Mechanicsville, VA          1
Blue Bell, PA               1
Juno Beach, FL              1
Glen Allen, VA              1
Zeeland, MI                 1
Morris Plains, NJ           1
Westbury, NY                1
Kingsport, TN               1
Issaquah, WA                1
Thomasville, NC             1
Clearfield, UT              1
Des Peres, MO               1
Manhattan Beach, CA         1
Armonk, NY                  1
Ankeny, IA                  1
Canonsburg, PA              1
Franklin Lakes, NJ          1
Sparks, MD                  1
Springdale, AR              1
Fort Smith, AR              1
Watsonville, CA             1
Livonia, MI                 1
Estero, FL                  1
Laurel, MS                  1
Oakland, CA                 1
Name: Location, Length: 416, dtype: int64

In [64]:
df['Employees'].value_counts()

13000     11
8000       9
14000      7
10000      7
12000      6
7300       6
5000       6
23000      6
25000      6
7000       5
15000      5
6700       5
12700      5
19000      5
4300       5
11000      4
20000      4
17000      4
6000       4
27000      4
9800       4
8100       4
8200       4
22000      4
6900       4
11400      4
12500      3
8400       3
7100       3
9200       3
          ..
4700       1
7770       1
231000     1
341240     1
12886      1
6740       1
58963      1
12325      1
8818       1
2982       1
6800       1
56950      1
143600     1
3410       1
14726      1
3722       1
12864      1
19080      1
590        1
22150      1
24197      1
8550       1
7810       1
5761       1
54911      1
7841       1
88700      1
9850       1
161400     1
51200      1
Name: Employees, Length: 755, dtype: int64

In [65]:
df.columns

Index(['Rank', 'Company', 'Sector', 'Industry', 'Location', 'Revenue',
       'Profits', 'Employees'],
      dtype='object')

In [66]:
##Concatination operations

In [67]:
new_fortune={'Rank':'25', 'Company':'Dabur', 'Sector':'hjxgfy', 'Industry':'statistics', 'Location':'benglore', 'Revenue':'566424',
       'Profits':'4562', 'Employees':'454'}

In [68]:
new_fortune

{'Rank': '25',
 'Company': 'Dabur',
 'Sector': 'hjxgfy',
 'Industry': 'statistics',
 'Location': 'benglore',
 'Revenue': '566424',
 'Profits': '4562',
 'Employees': '454'}

In [69]:
new_fortune_df=pd.DataFrame(new_fortune,index=[0])
new_fortune_df

  Rank Company  Sector    Industry  Location Revenue Profits Employees
0   25   Dabur  hjxgfy  statistics  benglore  566424    4562       454

In [70]:
df1=pd.concat([new_fortune_df,df],ignore_index=True)
df1.head()

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,25,Dabur,hjxgfy,statistics,benglore,566424,4562,454
1,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000

In [71]:
##Appending operations

In [72]:
df1=pd.DataFrame({'Company':['Dove','Machho'],'sr no':[1,2]})
df1

  Company  sr no
0    Dove      1
1  Machho      2

In [73]:
df2=pd.DataFrame({'Company':['IBM'],'id':[3]})
df2

  Company  id
0     IBM   3

In [74]:
df1.append(df2,ignore_index=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

  Company   id  sr no
0    Dove  NaN    1.0
1  Machho  NaN    2.0
2     IBM  3.0    NaN

In [75]:

df.append(new_fortune_df,ignore_index=True)

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
3,4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
4,5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
5,6,UnitedHealth Group,Health Care,Health Care: Insurance and Managed Care,"Minnetonka, MN",157107,5813,200000
6,7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
7,8,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
8,9,Ford Motor,Motor Vehicles & Parts,Motor Vehicles and Parts,"Dearborn, MI",149558,7373,199000
9,10,AT&T,Telecommunications,Telecommunications,"Dallas, TX",146801,13345,281450
10,11,General Electric,Industrials,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
11,12,AmerisourceBergen,Health Care,Wholesalers: Health Care,"Chesterbrook, PA",135962,-135,17000
12,13,Verizon,Telecommunications,Telecommunications,"New York, NY",131620,17879,177700
13,14,Chevron,Energy,Petroleum Refining,"San Ramon, CA",131118,4587,61500
14,15,Costco,Retailing,Specialty Retailers: Other,"Issaquah, WA",116199,2377,161000
15,16,Fannie Mae,Financials,Diversified Financials,"Washington, DC",110359,10954,7300
16,17,Kroger,Food and Drug Stores,Food and Drug Stores,"Cincinnati, OH",109830,2039,431000
17,18,Amazon.com,Technology,Internet Services and Retailing,"Seattle, WA",107006,596,230800
18,19,Walgreens Boots Alliance,Food and Drug Stores,Food and Drug Stores,"Deerfield, IL",103444,4220,302500
19,20,HP,Technology,"Computers, Office Equipment","Palo Alto, CA",103355,4554,287000
20,21,Cardinal Health,Health Care,Wholesalers: Health Care,"Dublin, OH",102531,1215,34500
21,22,Express Scripts Holding,Health Care,Health Care: Pharmacy and Other Services,"St. Louis, MO",101752,2476,25900
22,23,J.P. Morgan Chase,Financials,Commercial Banks,"New York, NY",101006,24442,234598
23,24,Boeing,Aerospace & Defense,Aerospace and Defense,"Chicago, IL",96114,5176,161400
24,25,Microsoft,Technology,Computer Software,"Redmond, WA",93580,12193,118000
25,26,Bank of America Corp.,Financials,Commercial Banks,"Charlotte, NC",93056,15888,213280
26,27,Wells Fargo,Financials,Commercial Banks,"San Francisco, CA",90033,22894,264700
27,28,Home Depot,Retailing,Specialty Retailers: Other,"Atlanta, GA",88519,7009,385000
28,29,Citigroup,Financials,Commercial Banks,"New York, NY",88275,17242,231000
29,30,Phillips 66,Energy,Petroleum Refining,"Houston, TX",87169,4227,14000
...,...,...,...,...,...,...,...,...
971,972,Genesee & Wyoming,Transportation,Railroads,"Darien, CT",2000,225,7500
972,973,99 Cents Only Stores,Retailing,Specialty Retailers: Other,"Commerce, CA",1999,-232,18200
973,974,Roadrunner Transportation Systems,Transportation,Transportation and Logistics,"Cudahy, WI",1995,48,4502
974,975,Super Micro Computer,Technology,"Computers, Office Equipment","San Jose, CA",1991,102,2285
975,976,First Republic Bank,Financials,Commercial Banks,"San Francisco, CA",1989,522,3130
976,977,Hill-Rom Holdings,Health Care,Medical Products and Equipment,"Chicago, IL",1988,48,10000
977,978,Providence Service,Health Care,Health Care: Pharmacy and Other Services,"Tucson, AZ",1987,84,9072
978,979,Allison Transmission Holdings,Motor Vehicles & Parts,Motor Vehicles and Parts,"Indianaoplis, IN",1986,182,2700
979,980,Spire,Energy,Utilities: Gas and Electric,"St. Louis, MO",1976,137,3078
980,981,WPX Energy,Energy,"Mining, Crude-Oil Production","Tulsa, OK",1958,-1727,1040
981,982,Century Aluminum,Materials,Metals,"Chicago, IL",1950,-59,1778
982,983,Adams Resources & Energy,Energy,Petroleum Refining,"Houston, TX",1944,-1,809
983,984,Nuance Communications,Technology,Computer Software,"Burlington, MA",1931,-115,13500
984,985,Primoris Services,Engineering & Construction,"Engineering, Construction","Dallas, TX",1929,37,7011
985,986,Schnitzer Steel Industries,Materials,Metals,"Portland, OR",1924,-197,2955
986,987,Delta Tucker Holdings,Aerospace & Defense,Aerospace and Defense,"McLean, VA",1923,-133,12000
987,988,Hospitality Properties Trust,Financials,Real estate,"Newton, MA",1922,166,400
988,989,Cenveo,Media,"Publishing, Printing","Stamford, CT",1921,-31,7300
989,990,F5 Networks,Technology,Network and Other Communications Equipment,"Seattle, WA",1920,365,4178
990,991,BlueLinx Holdings,Wholesalers,Wholesalers: Diversified,"Atlanta, GA",1917,-12,1600
991,992,Revlon,Household Products,Household and Personal Products,"New York, NY",1914,56,5700
992,993,DeVry Education Group,Business Services,Education,"Downers Grove, IL",1910,140,11770
993,994,MDC Holdings,Engineering & Construction,Homebuilders,"Denver, CO",1909,66,1225
994,995,EP Energy,Energy,"Mining, Crude-Oil Production","Houston, TX",1908,-3748,665
995,996,New York Community Bancorp,Financials,Commercial Banks,"Westbury, NY",1902,-47,3448
996,997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
998,999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,"Dublin, OH",1896,161,21200
999,1000,Briggs & Stratton,Industrials,Industrial Machinery,"Wauwatosa, WI",1895,46,5480
1000,25,Dabur,hjxgfy,statistics,benglore,566424,4562,454

In [76]:
##Filtering

In [77]:
df

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
3,4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
4,5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
5,6,UnitedHealth Group,Health Care,Health Care: Insurance and Managed Care,"Minnetonka, MN",157107,5813,200000
6,7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
7,8,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
8,9,Ford Motor,Motor Vehicles & Parts,Motor Vehicles and Parts,"Dearborn, MI",149558,7373,199000
9,10,AT&T,Telecommunications,Telecommunications,"Dallas, TX",146801,13345,281450
10,11,General Electric,Industrials,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
11,12,AmerisourceBergen,Health Care,Wholesalers: Health Care,"Chesterbrook, PA",135962,-135,17000
12,13,Verizon,Telecommunications,Telecommunications,"New York, NY",131620,17879,177700
13,14,Chevron,Energy,Petroleum Refining,"San Ramon, CA",131118,4587,61500
14,15,Costco,Retailing,Specialty Retailers: Other,"Issaquah, WA",116199,2377,161000
15,16,Fannie Mae,Financials,Diversified Financials,"Washington, DC",110359,10954,7300
16,17,Kroger,Food and Drug Stores,Food and Drug Stores,"Cincinnati, OH",109830,2039,431000
17,18,Amazon.com,Technology,Internet Services and Retailing,"Seattle, WA",107006,596,230800
18,19,Walgreens Boots Alliance,Food and Drug Stores,Food and Drug Stores,"Deerfield, IL",103444,4220,302500
19,20,HP,Technology,"Computers, Office Equipment","Palo Alto, CA",103355,4554,287000
20,21,Cardinal Health,Health Care,Wholesalers: Health Care,"Dublin, OH",102531,1215,34500
21,22,Express Scripts Holding,Health Care,Health Care: Pharmacy and Other Services,"St. Louis, MO",101752,2476,25900
22,23,J.P. Morgan Chase,Financials,Commercial Banks,"New York, NY",101006,24442,234598
23,24,Boeing,Aerospace & Defense,Aerospace and Defense,"Chicago, IL",96114,5176,161400
24,25,Microsoft,Technology,Computer Software,"Redmond, WA",93580,12193,118000
25,26,Bank of America Corp.,Financials,Commercial Banks,"Charlotte, NC",93056,15888,213280
26,27,Wells Fargo,Financials,Commercial Banks,"San Francisco, CA",90033,22894,264700
27,28,Home Depot,Retailing,Specialty Retailers: Other,"Atlanta, GA",88519,7009,385000
28,29,Citigroup,Financials,Commercial Banks,"New York, NY",88275,17242,231000
29,30,Phillips 66,Energy,Petroleum Refining,"Houston, TX",87169,4227,14000
...,...,...,...,...,...,...,...,...
970,971,VeriFone Systems,Technology,"Computers, Office Equipment","San Jose, CA",2001,79,5400
971,972,Genesee & Wyoming,Transportation,Railroads,"Darien, CT",2000,225,7500
972,973,99 Cents Only Stores,Retailing,Specialty Retailers: Other,"Commerce, CA",1999,-232,18200
973,974,Roadrunner Transportation Systems,Transportation,Transportation and Logistics,"Cudahy, WI",1995,48,4502
974,975,Super Micro Computer,Technology,"Computers, Office Equipment","San Jose, CA",1991,102,2285
975,976,First Republic Bank,Financials,Commercial Banks,"San Francisco, CA",1989,522,3130
976,977,Hill-Rom Holdings,Health Care,Medical Products and Equipment,"Chicago, IL",1988,48,10000
977,978,Providence Service,Health Care,Health Care: Pharmacy and Other Services,"Tucson, AZ",1987,84,9072
978,979,Allison Transmission Holdings,Motor Vehicles & Parts,Motor Vehicles and Parts,"Indianaoplis, IN",1986,182,2700
979,980,Spire,Energy,Utilities: Gas and Electric,"St. Louis, MO",1976,137,3078
980,981,WPX Energy,Energy,"Mining, Crude-Oil Production","Tulsa, OK",1958,-1727,1040
981,982,Century Aluminum,Materials,Metals,"Chicago, IL",1950,-59,1778
982,983,Adams Resources & Energy,Energy,Petroleum Refining,"Houston, TX",1944,-1,809
983,984,Nuance Communications,Technology,Computer Software,"Burlington, MA",1931,-115,13500
984,985,Primoris Services,Engineering & Construction,"Engineering, Construction","Dallas, TX",1929,37,7011
985,986,Schnitzer Steel Industries,Materials,Metals,"Portland, OR",1924,-197,2955
986,987,Delta Tucker Holdings,Aerospace & Defense,Aerospace and Defense,"McLean, VA",1923,-133,12000
987,988,Hospitality Properties Trust,Financials,Real estate,"Newton, MA",1922,166,400
988,989,Cenveo,Media,"Publishing, Printing","Stamford, CT",1921,-31,7300
989,990,F5 Networks,Technology,Network and Other Communications Equipment,"Seattle, WA",1920,365,4178
990,991,BlueLinx Holdings,Wholesalers,Wholesalers: Diversified,"Atlanta, GA",1917,-12,1600
991,992,Revlon,Household Products,Household and Personal Products,"New York, NY",1914,56,5700
992,993,DeVry Education Group,Business Services,Education,"Downers Grove, IL",1910,140,11770
993,994,MDC Holdings,Engineering & Construction,Homebuilders,"Denver, CO",1909,66,1225
994,995,EP Energy,Energy,"Mining, Crude-Oil Production","Houston, TX",1908,-3748,665
995,996,New York Community Bancorp,Financials,Commercial Banks,"Westbury, NY",1902,-47,3448
996,997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
998,999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,"Dublin, OH",1896,161,21200
999,1000,Briggs & Stratton,Industrials,Industrial Machinery,"Wauwatosa, WI",1895,46,5480

In [78]:
df[df['Profits']>50000]

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [79]:
type(df)

pandas.core.frame.DataFrame

In [80]:
type('Profits')

str

In [81]:
df[df['Profits']>3000]['Company']

0                            Walmart
1                        Exxon Mobil
2                              Apple
3                 Berkshire Hathaway
5                 UnitedHealth Group
6                         CVS Health
7                     General Motors
8                         Ford Motor
9                               AT&T
12                           Verizon
13                           Chevron
15                        Fannie Mae
18          Walgreens Boots Alliance
19                                HP
22                 J.P. Morgan Chase
23                            Boeing
24                         Microsoft
25             Bank of America Corp.
26                       Wells Fargo
27                        Home Depot
28                         Citigroup
29                       Phillips 66
30                               IBM
31                     Valero Energy
33                  Procter & Gamble
34         State Farm Insurance Cos.
35                          Alphabet
36                           Comcast
37                            Target
38                 Johnson & Johnson
                   ...
79       United Continental Holdings
84                  American Express
85                   Gilead Sciences
90                              Nike
92                                3M
93            Mondelez International
95          Twenty-First Century Fox
98                       Time Warner
104                   Travelers Cos.
105      Philip Morris International
108                       McDonald’s
109                         Qualcomm
111            Capital One Financial
122                           AbbVie
128                    Union Pacific
129                            Amgen
130                     U.S. Bancorp
132                          Danaher
137              Abbott Laboratories
148                     Altria Group
156                         Facebook
170     PNC Financial Services Group
178    Bank of New York Mellon Corp.
203                             Visa
249                        BlackRock
262                           Biogen
265                Reynolds American
293                       MasterCard
332           Level 3 Communications
533            Caesars Entertainment
Name: Company, Length: 80, dtype: object

In [82]:
df[df['Profits']>6000][['Company','Employees']]

                         Company  Employees
0                        Walmart    2300000
1                    Exxon Mobil      75600
2                          Apple     110000
3             Berkshire Hathaway     331000
7                 General Motors     215000
8                     Ford Motor     199000
9                           AT&T     281450
12                       Verizon     177700
15                    Fannie Mae       7300
22             J.P. Morgan Chase     234598
24                     Microsoft     118000
25         Bank of America Corp.     213280
26                   Wells Fargo     264700
27                    Home Depot     385000
28                     Citigroup     231000
30                           IBM     411798
33              Procter & Gamble     110000
34     State Farm Insurance Cos.      70425
35                      Alphabet      61814
36                       Comcast     153000
38             Johnson & Johnson     127100
42                   Freddie Mac       5439
44           United Technologies     197200
50                         Intel     107300
52                        Disney     185000
53                 Cisco Systems      71833
54                        Pfizer      97900
55                  Dow Chemical      49495
61                     Coca-Cola     123200
66       American Airlines Group     118500
73           Goldman Sachs Group      36800
76                        Oracle     132000
77                Morgan Stanley      56218
79   United Continental Holdings      84000
85               Gilead Sciences       8000
93        Mondelez International      99000
95      Twenty-First Century Fox      20500
105  Philip Morris International      80200
129                        Amgen      17900
203                         Visa      11300

In [83]:
df[(df['Profits']>30000)& (df['Employees']<1000000)]

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [84]:
new_df=df[(df['Profits']>300000)& (df['Employees']<1000000)]
new_df

Empty DataFrame
Columns: [Rank, Company, Sector, Industry, Location, Revenue, Profits, Employees]
Index: []

In [85]:
df[(df['Profits']>6000)& (df['Rank']<100)][['Company','Sector']]

                        Company                     Sector
0                       Walmart                  Retailing
1                   Exxon Mobil                     Energy
2                         Apple                 Technology
3            Berkshire Hathaway                 Financials
7                General Motors     Motor Vehicles & Parts
8                    Ford Motor     Motor Vehicles & Parts
9                          AT&T         Telecommunications
12                      Verizon         Telecommunications
15                   Fannie Mae                 Financials
22            J.P. Morgan Chase                 Financials
24                    Microsoft                 Technology
25        Bank of America Corp.                 Financials
26                  Wells Fargo                 Financials
27                   Home Depot                  Retailing
28                    Citigroup                 Financials
30                          IBM                 Technology
33             Procter & Gamble         Household Products
34    State Farm Insurance Cos.                 Financials
35                     Alphabet                 Technology
36                      Comcast         Telecommunications
38            Johnson & Johnson                Health Care
42                  Freddie Mac                 Financials
44          United Technologies        Aerospace & Defense
50                        Intel                 Technology
52                       Disney                      Media
53                Cisco Systems                 Technology
54                       Pfizer                Health Care
55                 Dow Chemical                  Chemicals
61                    Coca-Cola  Food, Beverages & Tobacco
66      American Airlines Group             Transportation
73          Goldman Sachs Group                 Financials
76                       Oracle                 Technology
77               Morgan Stanley                 Financials
79  United Continental Holdings             Transportation
85              Gilead Sciences                Health Care
93       Mondelez International  Food, Beverages & Tobacco
95     Twenty-First Century Fox                      Media

In [86]:
df.Company.value_counts()

Host Hotels & Resorts                     2
Regions Financial                         2
Portland General Electric                 2
Noble Energy                              2
MDU Resources Group                       1
Applied Industrial Technologies           1
Meritage Homes                            1
Citrix Systems                            1
Puget Energy                              1
HD Supply Holdings                        1
BlackRock                                 1
Post Holdings                             1
C.R. Bard                                 1
Franklin Resources                        1
Erie Insurance Group                      1
Core-Mark Holding                         1
ScanSource                                1
Whirlpool                                 1
Vantiv                                    1
Energy Future Holdings                    1
Olin                                      1
Ferrellgas Partners                       1
TreeHouse Foods                           1
CenturyLink                               1
Benchmark Electronics                     1
Diebold                                   1
Boston Scientific                         1
Paccar                                    1
Cracker Barrel Old Country Store          1
Hilton Worldwide Holdings                 1
                                         ..
Interpublic Group                         1
Popular                                   1
Allegheny Technologies                    1
Tribune Media                             1
Estee Lauder                              1
Spectra Energy                            1
Lincoln Electric Holdings                 1
Leggett & Platt                           1
HollyFrontier                             1
American Tower                            1
Targa Resources                           1
Oracle                                    1
Dana Holding                              1
Honeywell International                   1
Ryder System                              1
Fastenal                                  1
Watsco                                    1
USAA                                      1
Dover                                     1
CH2M Hill                                 1
MRC Global                                1
Expeditors International of Washington    1
Waters                                    1
Genworth Financial                        1
Cisco Systems                             1
Insight Enterprises                       1
Walmart                                   1
CMS Energy                                1
Emerson Electric                          1
Scientific Games                          1
Name: Company, Length: 996, dtype: int64